/* global */
:root{
    --dark:rgb(26, 26, 26);
    --lemon:rgb(0, 255, 200);
}
body{
    font-family:Lato;
}
nav{
    padding:20px;
}
h1{
    margin-top:2rem;
    font-weight:400;
}
h2{
    margin:0;
}
a{
    font-size:1.5rem;
    letter-spacing:0.1rem;
    margin-left:10px;
    text-decoration:underline;
    color:var(--lemon);
}

/* Specific */
.layout{
    display:flex;
    flex-wrap:wrap;
}
.link-card{
    width:299px;
    height:229px;
    margin:5px;
    /*border:solid 1px lightgrey;
    -->Bugd'affichage,certainementlapropsolid*/
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    overflow:hidden;
    perspective:1px;
    transition:all 1s ease-in-out;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 1s ease-in-out;
    -ms-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
}
.link-title, .link-text, .link-button{
    padding:10px 0px 0px 20px;
}
.link-title{
    height:40px;
    background:#001441;
    color:white;
}
.link-text{
    height:120px;
}
.link-text p, .link-text h3{
    margin:5px 0px 15px 0px;
}
.link-button{
    height:100%;
    border-top:solid 1px lightgrey;
    background:rgb(223, 223, 223);
}
.link-button button{
    height:30px;
    width:120px;
    background:#1350d4;
    border:none;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}
/*---------------- Utilities for JS ----------------*/
.main_title_modified{
    color:var(--lemon);
    font-size:34px;
    font-weight:700;
    letter-spacing:0.25rem;
    margin-left:2.5vw;
}
.active-card:hover{
    -webkit-box-shadow: 5px 5px 3px 2px rgba(30,30,30,0.75);
    -moz-box-shadow: 5px 5px 3px 2px rgba(30,30,30,0.75);
    box-shadow: 5px 5px 3px 2px rgba(30,30,30,0.75);
    transition:all 0.4s ease-in-out;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
}
.red{
    color:red;
}
.orange{
    color:orange;
}
.sunshine{
    color:rgb(248, 252, 10);
}
.active_sombre{
    background-color:var(--dark);
    color:white;
}
.mode_sombre{
    background-color:var(--dark);
    color:white;
}
.visible{
    display:block;
}
.hidden{
    display:none;
}
