/* General definitions */
html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
:root {
  --dark: #003049;
  --red: #d62828;
  --orange: #f77f00;
  --yellow: #fcbf49;
  --white: #eae2b7;
}
body {
  font-family: Lato;
  margin: 0;
  background-color: var(--white);
  color: white;
}

/* Also some resets / styling */
nav {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
nav a {
  font-size: 1.2rem;
  border-bottom: 2px solid white;
}
h1 {
  margin-top: 2rem;
  font-weight: 400;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  margin-left: 10px;
  text-decoration: none;
  color: var(--acidlemon);
}

/* Container of cards */
.layout {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1vw;
}

/* Card styling */
.link-card {
  width: 299px;
  height: 100%;
  margin: 5px;
  border-radius: 8px;
  overflow: hidden;
  transition: all 1s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}
.link-title,
.link-button {
  padding-left: 15px;
}
/* Main title of cards */
.link-title {
  height: 40px;
  background: var(--red);
  padding-top: 5px;
}

/* Main content of cards */
.link-text {
  margin: 0;
  background: var(--orange);
}
.link-text h3 {
  padding: 15px 0px 10px 15px;
  margin-bottom: 10px;
}
.link-text p {
  padding-left: 15px;
  padding-bottom: 15px;
}
.card_date {
  display: block;
  font-weight: 400;
  font-size: 11px;
  width: 20%;
  margin: 10px 20px 0 auto;
}

/* Buttons styling */
.link-button {
  background: var(--yellow);
  padding: 10px 0px 10px 15px;
}
.link-button button {
  height: 30px;
  width: 120px;
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/*---------------- Utilities for JS ----------------*/

/* Main title of the page */
.main_title_modified {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 0.25rem;
  text-decoration: underline;
  margin-left: 2.5vw;
}

/* Hoover effect on cards */
.active-card:hover {
  -webkit-box-shadow: 5px 5px 3px 2px rgba(30, 30, 30, 0.75);
  -moz-box-shadow: 5px 5px 3px 2px rgba(30, 30, 30, 0.75);
  box-shadow: 5px 5px 3px 2px rgba(30, 30, 30, 0.75);
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

/* Set of colors for themes */
.blue-1 {
  color: rgb(0, 250, 255, 0.5);
}
.blue-2 {
  color: rgb(0, 200, 255, 0.5);
}
.blue-3 {
  color: rgb(0, 150, 255, 0.5);
}
.blue-4 {
  color: rgb(0, 100, 255, 0.5);
}
.blue-5 {
  color: rgb(0, 50, 255, 0.5);
}
.blue-5 {
  color: rgb(0, 0, 255, 0.5);
}

/* Hoover effect on darkmode button and basic styling of the button*/
.sombre_button {
  display: block;
  height: 40px;
  margin: 10px 40px 0 auto;
  padding: 5px 30px;
  color: var(--dark);
  border: 2px solid var(--dark);
  background: transparent;
  border-radius: 50px;
}
.sombre_button:focus {
  outline: none;
  box-shadow: none;
}
.dark_mode {
  color: var(--white);
  border: 2px solid var(--white);
}
.active_sombre {
  background-color: var(--dark);
  color: var(--white);
}
.desactive_sombre {
  background-color: var(--white);
  color: var(--dark);
}
.mode_sombre {
  background-color: var(--dark);
  color: white;
}

/* Utilities to display / delete content from DOM */
.visible {
  display: block;
}
.hidden {
  display: none;
}

/* Style concerning the form */
.card_form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: 5vh auto;
  padding: 2.5vw;
  background-color: var(--red);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.card_form > div {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 1rem;
}
.card_form input {
  height: 2rem;
  width: 250px;
}
.card_form textarea {
  height: 150px;
  width: 250px;
}
.card_form > input {
  display: block;
  width: fit-content;
}

/* Div used for zooming images */
.zoom {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 10% 20% 10% 20%;
  backdrop-filter: blur(10px);
}
