/* General definitions */
html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
:root {
  --dark: rgba(26, 26, 26, 0.96);
  --yellow: #ffbe0b;
  --orange: #fb5607;
  --magenta: #ff006e;
  --purple: #8338ec;
  --blue: #3a86ff;
}
body {
  font-family: Lato;
  margin: 0;
  background-color: var(--purple);
  color: white;
}

/* Also some resets / styling */
nav {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: var(--yellow);
  -webkit-box-shadow: 0 10px 6px -6px var(--dark);
  -moz-box-shadow: 0 10px 6px -6px var(--dark);
  box-shadow: 0 10px 6px -6px var(--dark);
}
nav a {
  font-size: 1.2rem;
  border-bottom: 2px solid white;
}
h1 {
  margin-top: 2rem;
  font-weight: 400;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  margin-left: 10px;
  text-decoration: none;
  color: var(--acidlemon);
}

/* Container of cards */
.layout {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1vw;
}

/* Card styling */
.link-card {
  width: 299px;
  height: 100%;
  margin: 5px;
  border-radius: 8px;
  overflow: hidden;
  transition: all 1s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}
.link-title,
.link-button {
  padding-left: 15px;
}
/* Main title of cards */
.link-title {
  height: 40px;
  background: var(--yellow);
  padding-top: 5px;
}

/* Main content of cards */
.link-text {
  margin: 0;
  background: var(--orange);
}
.link-text h3 {
  padding: 15px 0px 10px 15px;
  margin-bottom: 10px;
}
.link-text p {
  padding-left: 15px;
  padding-bottom: 15px;
}

/* Buttons styling */
.link-button {
  background: var(--magenta);
  padding: 10px 0px 10px 15px;
}
.link-button button {
  height: 30px;
  width: 120px;
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/*---------------- Utilities for JS ----------------*/

/* Main title of the page */
.main_title_modified {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 0.25rem;
  text-decoration: underline;
  margin-left: 2.5vw;
}

/* Hoover effect on cards */
.active-card:hover {
  -webkit-box-shadow: 5px 5px 3px 2px rgba(30, 30, 30, 0.75);
  -moz-box-shadow: 5px 5px 3px 2px rgba(30, 30, 30, 0.75);
  box-shadow: 5px 5px 3px 2px rgba(30, 30, 30, 0.75);
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

/* Set of colors for themes */
.red {
  color: red;
}
.orange {
  color: orange;
}
.sunshine {
  color: rgb(248, 252, 10);
}

/* Hoover effect on darkmode button */
.active_sombre {
  background-color: var(--dark);
  color: white;
}
.mode_sombre {
  background-color: var(--dark);
  color: white;
}

/* Utilities to display / delete content from DOM */
.visible {
  display: block;
}
.hidden {
  display: none;
}

/* Style concerning the form */
.card_form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: 5vh auto;
  padding: 2.5vw;
  background-color: var(--yellow);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.card_form > div {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 1rem;
}
.card_form input {
  height: 2rem;
  width: 250px;
}
.card_form textarea {
  height: 150px;
  width: 250px;
}
.card_form > input {
  display: block;
  width: fit-content;
}
